.container div {
    border: 1px solid #000;
}

.full_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 900px;
    height: 900px; 
    overflow: hidden; 
    margin: auto;
}
