.container div {
    border: 1px solid #000;
    width: 48px; /* Puedes ajustar el tamaño según tus necesidades */
    height: 48px; /* Puedes ajustar el tamaño según tus necesidades */
    
}

.full_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 800px; /* Puedes ajustar el tamaño según tus necesidades */
    height: 800px; /* Puedes ajustar el tamaño según tus necesidades */
    overflow: hidden; /* Para asegurar que los elementos no se desborden */
}

.full_grid div {
    flex-shrink: 1;
}
